/* NAV COMPONENT STYLESHEET */
/* main nav styling and font */
.navbar {
    background-color: rgb(255, 192, 0) !important;
    padding: 1rem 1rem !important;
}
.local-nav-font {
  font-family: "Montserrat", sans-serif !important;
}
/* text logo container */
.text-logo {
  font-family: "Saira Stencil One", cursive;
  font-size: 42px;
  margin: 10px;
}
/* text logo - BIER section */
.text-bier {
  border: solid 4px black;
  background-color: rgb(255, 192, 0);
  color: black;
  padding: 5px;
}
/* text logo - RUN section */
.text-run {
  border: solid 4px black;
  background-color: black;
  color: rgb(255, 192, 0);
  padding: 5px;
  margin-right: 25px;
}
