/* HOMEPAGE STYLESHEET */
/* main background */
main {
  background-color: rgb(230, 230, 230);
}
/* logo elements */
.logo {
  margin: 50px 25px 0 25px;
  width: 30vh;
}
/* headers and text */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  padding: 25px 25px 5px 25px;
  margin: 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  padding: 15px 25px 5px 25px;
  margin: 0;
}
p {
  font-family: "Montserrat", sans-serif;
  padding: 5px 25px 25px 25px;
  margin: 0;
}
.thirds {
  width: 100%;
}
.break-1 {
  border-top: 1px solid black !important;
  width: 90vw;
}
/* get started button */
.begin-button {
  outline: none;
  border: none;
  border-radius: 40px;
  margin: 25px;
  padding: 25px;
  width: 75vw;
  max-width: 600px;
  background-color: rgb(128, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.begin-button:active,
.begin-button:enabled {
  outline: none;
}
.begin-button:hover {
  outline: none;
  opacity: 0.7;
}
