/* HOMEPAGE STYLESHEET */
/* main background */
main {
  background-color: rgb(230, 230, 230);
}
/* logo elements */
.logo-container {
  height: 30vh !important;
  width: 300px;
  max-width: 100%;
}
.logo {
  margin-left: -22ch !important;
  top: 20%;
  left: 50%;
  width: 45ch;
  height: 20ch;
}
.secret-logo {
  margin-left: -22ch !important;
  top: 20%;
  left: 50%;
  width: 45ch;
  height: 20ch;
}
.c {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  will-change: opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url("../../assets/images/BierRunLogoNoBG.svg");
}

.front {
  background-image: url("../../assets/images/JediMasterBarry.svg");
}
/* non-animated logo (for mobile) */
.logo-mobile {
  margin: 25px 0 0 0;
  width: 100%;
}
.secret-logo-mobile {
  margin: 25px 0 0 0;
  width: 50%;
}
/* headers and text */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: darkgoldenrod;
  padding: 25px 25px 5px 25px;
  margin: 0;
}
h2 {
  font-family: "Montserrat", sans-serif;
  padding: 15px 25px 5px 25px;
  margin: 0;
}
p {
  font-family: "Montserrat", sans-serif;
  padding: 5px 25px 25px 25px;
  margin: 0;
}
.thirds {
  width: 100%;
}
.break-1 {
  border-top: 1px solid black !important;
  width: 90vw;
}
/* get started button */
.begin-button {
  outline: none;
  border: none;
  border-radius: 40px;
  margin: 50px 25px 100px 25px;
  padding: 25px;
  width: 75vw;
  max-width: 600px;
  background-color: rgb(128, 0, 0);
  color: white;
  font-weight: bold;
  font-size: 40px;
}
.begin-button:active,
.begin-button:enabled {
  outline: none;
}
.begin-button:hover {
  outline: none;
  opacity: 0.7;
}
