/* DRIVERPAGE STYLESHEET */
/* main container */
.driver-main-container {
  padding: 25px;
  background-color: rgb(230, 230, 230);
}
/* message elements (top row) */
.welcome-container {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  border: solid 1px black;
  box-shadow: 3px 3px 6px black;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
.status {
  font-weight: bold;
}
.active {
  color: green;
}
.inactive {
  color: red;
}
/* order row elements */
.order-card {
  border: solid 1px black;
  box-shadow: 3px 3px 6px black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.order-card-selected {
  border: solid 1px black;
  box-shadow: 3px 3px 6px black;
  background-color: rgb(255, 249, 229);
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.order-item {
  margin: 20px;
}
.order-button-container {
  margin: 10px;
}
.order-link {
  color: blue;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.order-link:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
/* button style */
.driver-button {
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 275px;
  color: white;
}
.driver-button:active, .driver-button:enabled {
  outline: none;
}
.driver-button:hover {
  outline: none;
  opacity: 0.7;
}
.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
/* modal components */
.modal-title-driver {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  text-align: center;
}
.modal-input {
  width: 90%;
  margin: 15px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.modal-button {
  width: 90%;
  margin: 15px;
}
