.message-container {
  background-color: rgb(230, 230, 230);
}

.welcome {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  width: 100%;
  color: black;
  margin: 10px;
  padding: 10px;
  text-align: left;
}

.inventory-card {
  width: 300px;
  height: 300px;
  box-shadow: 3px 3px 6px black;
  border: solid 1px black;
  border-radius: 15px;
  background-color: white;
  margin: 15px;
}

.shopping-cart {
  background-color: white;
  border: solid 1px black;
  box-shadow: 3px 3px 6px black;
  border-radius: 15px;
  margin: 15px;
  padding: 25px;
}

.customer-background {
  background-color: rgb(230, 230, 230);
}

.cart-title {
  width: 100%;
  text-align: center;
}

.cart-sub {
  width: 100%;
  text-align: left;
}

.cart-total {
  width: 100%;
  text-align: end;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 24px;
  width: 90%;
}

.modal-row {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 16px;
  width: 90%;
}

.modal-item {
  width: 20%;
}

.cancel {
  background-color: red;
}

.addToCart {
  background-color: blue;
}

.modalButton {
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 100px;
  color: white;
}

.modalButton:active, .modalButton:enabled {
  outline: none;
}
.modalButton:hover {
  outline: none;
  opacity: 0.7;
}