.login-background {
  /* background-color: rgb(255, 249, 229); */
  width: 100%;
  margin: 0;
  padding: 25px;
}

.login-container {
  background-color: rgb(255, 249, 229);
  width: 67%;
  margin: 25px;
  padding: 10px;
  box-shadow: 3px 3px 6px black;
  border-radius: 15px;
}

.login-input {
  border-radius: 40px;
  background-color: whitesmoke;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin: 25px;
  width: 80%;
}

.login-button {
  background-color: blue;
  color: white;
  border-radius: 40px;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  width: 300px;
  padding: 10px;
}

.login-button:hover {
  opacity: 0.7;
  outline: none;
}